body {
    font-family: "League Spartan", sans-serif !important;
}

#root {
    background-color: #d9f0fe;
    height: 100vh;
}

:root {
    --main-color: #d9f0fe;

    --background-light: #fafafa;
    --background-gray: #f3f5f8;
    --background-dark: #222;

    --text-light: #fff;
    --text-dark: #333;

    --accent-color-1: #00b894;
    --accent-color-2: #fca130;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-dark);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.bg_main {
    background-color: var(--main-color);
}

.wrapper {
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    height: 90vh;
    box-shadow: 0px 12px 19px 8px #9c9898;
}

.appHeader {
    height: 50px;
    position: sticky;
    top: 5%;
    width: 100%;
    border-bottom: 1px solid black;
    color: var(--text-light);
    font-weight: bold;
}

.main_section {
    height: calc(100% - 90px);
}

.sidebar {
    background-color: var(--background-gray);
    border-right: 1px solid black;
    justify-content: space-around;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.content {
    background-color: var(--background-light);
    padding-left: 15px;
    padding-right: 15px;
}

.box {
    border: 1px solid rgb(158, 158, 158);
    padding: 1rem;
}

.box_title,
.box_item {
    border-bottom: 1px solid gray;
}

.box_item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.box-content {
    height: 180px;
    overflow-y: scroll;
    border-left: 1px solid rgb(158, 158, 158);
    border-right: 1px solid rgb(158, 158, 158);
    border-bottom: 1px solid rgb(158, 158, 158);
}

.job_title {
    margin-bottom: 0.3rem !important;
}

.job_company {
    font-weight: 300;
}

.content-container {
    height: 100%;
    overflow-y: scroll;
}

.target {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 5%;
    right: -2%;
}

.target img {
    width: 100%;
    height: 100%;
}
.bar {
    box-sizing: content-box;
    height: 15px;
    position: relative;
    border-radius: 25px;
}
.bar > .progress {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(
        center bottom,
        rgb(43, 194, 83) 37%,
        rgb(84, 240, 84) 69%
    );
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}
