body {
    font-family: "League Spartan", sans-serif !important;
}

#root {
    background-color: var(--main-color);
    height: 100vh;
}

:root {
    --main-color: #d9f0fe;

    --background-light: #fafafa;
    --background-gray: #f3f5f8;
    --background-dark: #222;

    --text-light: #fff;
    --text-dark: #333;

    --accent-color-1: #fca130;
    --accent-color-2: #3d667a;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-dark);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}