.appHeader {
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: sticky;
    top: 5%;
    width: 100%;
    color: var(--text-light);
    font-weight: bold;
}