.wrapper {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    height: calc(100vh - 14%);
    box-shadow: 0px 30px 19px 8px #9c9898;
}

.wrapper_auth {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    height: calc(100vh - 14%);
    box-shadow: 0px 30px 19px 8px #9c9898;
}

.main_section {
    height: calc(100% - 8%);
}

.sidebar {
    background-color: var(--accent-color-2);
    color: var(--text-light);
    font-weight: bold;
    justify-content: space-around;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.content-container {
    height: 100%;
    overflow-y: auto;
}

.content {
    background-color: var(--background-light);
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}